/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
   
   
    background-color: rgb(66, 66, 248);
    text-align: center;
    color: white;
}
